[submodule "EurekaServer"]
	path = EurekaServer
	url = https://github.com/sarbesh/EurekaServer.git
	branch = master
[submodule "ConfigRepo"]
	path = ConfigRepo
	url = https://github.com/sarbesh/ConfigRepo.git
	branch = master
[submodule "ConfigServer"]
	path = ConfigServer
	url = https://github.com/sarbesh/ConfigServer.git
	branch = master
[submodule "GatewayService"]
	path = GatewayService
	url = https://github.com/sarbesh/GatewayService.git
	branch = master
