[submodule "EurekaServer"]
	path = EurekaServer
	url = https://github.com/sarbesh/EurekaServer.git
[submodule "ConfigRepo"]
	path = ConfigRepo
	url = https://github.com/sarbesh/ConfigRepo.git
[submodule "ConfigServer"]
	path = ConfigServer
	url = https://github.com/sarbesh/ConfigServer.git